@CHARSET "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	height: 87%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.a1 {
	width: 100%;
	height: 13%;
	color: #fff;
/* 	background-color: #369; */
	text-align: center;
}

.a2 {
	width: 85%;
	height: 100%;
	color: #fff;
/* 	background-color: #F0F0F0; */
	text-align: center;
	float: left;
	
}

.a3 {
	width: 15%;
	height: 100%;
/* 	color: #fff; */
/* 	background-color: #E9eded; */
	text-align: center;
	float: left;
/* 	padding:20px 20px 20px 20px; */
 	border-radius: 15px;
 	
}
.a4 {
	width: 94%;
	height: 96%;
	color: #fff;
	background-color: #E9eded;
	text-align: center;
	float: left;
	margin:2% 3% 2% 3%;
}
.iframe {
	background-color: #E9eded;
	border-radius: 15px;
}

.bg {
	background-color: #E9eded;
}

.win10 {
	background: url('../images/bg.gif');
/* 	background-color:#E0E0E0; */

/* 	background-size: 100% 100%; */
	background-repeat: repeat-x;
}