@CHARSET "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	height: 90%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.a1 {
	width: 100%;
	height: 10%;
	color: #fff;
	background-color: #369;
	text-align: center;
}

.a2 {
	width: 80%;
	height: 100%;
	color: #fff;
	background-color: #F0F0F0;
	text-align: center;
	float: left;
}

.a3 {
	width: 20%;
	height: 100%;
	color: #fff;
	background-color: #E9eded;
	text-align: center;
	float: left;
}

.iframe {
	background-color: #E9eded;
}

.bg {
	background-color: #E9eded;
}